*{
margin: 0;
padding: 0;

font-family: Helvetica;
box-sizing: border-box;
text-shadow: #000 1px 1px;
font-family: Helvetica;
}

.App { 
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    width: 100vw; 
    /* Garante que ocupe toda a largura da viewport */
    background-image: url('../assets/bg\ .webp');
    /* Corrigido: sem espaço no nome */
    background-size: cover; 
    background-position: center; 
    /* CORRETO: 'center' em vez de 'cover' */ 
    background-repeat: no-repeat;
 }

 /*estilização do elemento glass*/
 .container{
 width: 450px;
 background-color: rgba(255, 2555, 255, 0.15);
 backdrop-filter:blur(10px);
 border: 2px sold rgba(255, 255, 255, 0.2);
 padding: 40px;
border-radius: 10px
 }
 .container h1{
 text-align: center;
 font-size:30px;
 color: #fff;

 }

 .container .input-field{
 position: relative;
 width: 100%;
 height: 50px;
 margin: 30px auto;
}
.input-field input{
 
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba (255, 255, 255, 0.2);
 
    border-radius :40px;
font-size: 16px;
color:#fff;
padding:20px 45px
   
}

.input-field input::placeholder{
    color: #fff;
    
}
.input-field .icon{
position: absolute;
right: 25px;
top:30%;
transform: translate(-50%);
font-size: 18px;
color: #fff;

}

.container .recall-forget{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.recall-forget label{
color : #fff;
}


.recall-forget label:hover{
text-decoration: underline;
cursor: pointer;
}

.recall-forget input{
margin-right: 5px;
}
.recall-forget a,.signup-link p a {
color: #fff;

}

.recall-forget a:hover 
{
text-decoration: underline;
}

.container button{
width: 100%;
height:50px;
background-color: #fff;
border: none;
outline: none;
border-radius: 40px;
box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
cursor: pointer;
font-size: 16px;
font-weight: 600;
text-shadow: none;
}
.container button:hover{
background-color:hsl(130, 81%, 47%);
}
.container .signup-link{
font-size:15px;
text-align: center;
margin: 20px 0 10px;

}

.signup-link p a{
color: #fff;

}
.signup-link p a:hover{
text-decoration: underline;
}